// widths
$minWidth: 756px;
$midWidth: 960px;
$largeWidth: 1400px;

// border radius
$largeBorderRadius: 30px;
$midBorderRadius: 12px;

// font size
$h1: 32px;

$b2: 18px;
$b3: 16px;
$b4: 14px;

//colors
$orange: #F64E0C
