<rst-content-container>
  <div class="container">
    <div class="header">
      <img
        class="header__image"
        src="assets/images/background.png"
        height="200px"
        width="100%"
        alt="Dishes background"
      />
      <img class="header__logo" src="assets/images/logo.png" />
      <h1 class="header__text">Kitchen. Meat house</h1>
    </div>
    <rst-dish-filter (filterChanged)="handleFilterChanged($event)" />
    <rst-dish-list />
  </div>
</rst-content-container>
