@import '../assets/theme/_variables';

.main-page {
  &__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      filter: blur(10px);
      top: -10px;
      background-image: url('./../assets/images/background.png');
      background-size: cover;
      background-position: center;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1),
        75%,
        #f7f7f7 100%
      );
      z-index: -1;
    }
  }

  &__content {
    margin-top: 51px;
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 1400px;
    @media (min-width: $minWidth) {
      margin-left: 100px;
      margin-right: 100px;
    }
    @media (min-width: $midWidth) {
      margin-left: 162px;
      margin-right: 162px;
    }
    @media (min-width: $largeWidth) {
      margin-left: calc((100vw - 1200px) / 2);
      margin-right: calc((100vw - 1200px) / 2);
    }
  }

  &__basket {
    position: absolute;
    right: 0px;
    height: 100%;
    z-index: 99;
    &__icon {
      z-index: 99;
      bottom: 100px;
      right: 100px;
      position: absolute;
    }
  }
}
